Introduction Section



<img src="/img/HomePage.png" alt="home page" /><br />


Landing Page

This page represents the main entry point of the WiseTrap framework. 

صورة 

About Page

This page provides information about the project, team members, and supervisor.

صورة 


